language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-19  ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-20.0.0
    - andorid-19
    - android-20
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-20

before_install:
  #- echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  #- emulator -avd test -no-skin -no-audio -no-window &

before_script:
  #- adb wait-for-device
  #- adb shell input keyevent 82 &
  
script: 
  #- ./gradlew connectedAndroidTest
  - ./gradlew assembleDebug
  - echo $TRAVIS_BUILD_DIR
  - ls $TRAVIS_BUILD_DIR
  - curl "http://testflightapp.com/api/builds.json"
      -F file=@"$TRAVIS_BUILD_DIR/CaronaCerta/app/build/outputs/apk/app-debug.apk"
      -F api_token="ce2496d285ce80182172db4cbffc05b1_MjEyMTI5MTIwMTQtMDktMTkgMjE6MzA6MzkuNjA0MDAy"
      -F team_token="1d2c6a6511cae50e631d5424d8c50e22_NDM2NTc3MjAxNC0wOS0xOSAyMTozMTozMS44NTk3Mjk"
      -F notes="Build by Travis CI"
      -F notify=True
      -F distribution_lists="CaronaCerta"
